//  Omeka Styles
//  -----------------------------
//
//  Table of Contents:
//

// #. Global
// ---------

#skipnav {
  @include element-invisible;
}

header {
  @include top-bar-container;
}

#primary-nav {
  display: flex;
}

.search-toggle {
  margin: (-.5 * $global-margin);
  margin-left: (2 * $global-margin);
  padding: $global-padding;
}

#search-container {
  @include xy-grid-container;
  padding: $global-padding 0;
  margin-bottom: (-3 * $global-margin);
  
  &.closed {
    display: none;
  }
}

#search-form button,
#search-form .button,
#query {
  margin-bottom: 0;
}

#search-form {
  @include xy-grid;
}

#query {
  order: 1;
  height: 100%;
}

#search-form button {
  order: 2;
}

#advanced-form {
  order: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $global-padding;
}

#query-types {
  display: flex;
}

#query-types label {
  margin-right: $global-margin;
}

#submit_search {
  @extend .button;
}

#content {
  padding-top: 3 * $global-margin;
}

#content,
footer {
  @include xy-grid-container;
}

#resource-list {
  padding: (2 * $global-padding) 0;
}

#resource-list .card {
  align-self: flex-start;
}

#resource-list .card img {
  width: 100%;
  height: auto;
}

.card h2 {
  @extend .h5;
}

.browse-controls,
.secondary-nav {
  @include top-bar-container;
  margin: $global-margin 0;
  padding: 0;
}

.browse-controls,
.browse-controls ul,
.secondary-nav,
.secondary-nav ul {
    background-color: transparent;
}

#item-filters ul {
    @include style-type-unordered(no-bullet);
}

#item-filters li {
  @extend .label;
}

.pagination-nav {
  display: flex;
}

.page-input {
  margin-right: $global-margin;
}

.page-input form {
  display: flex;
  align-items: center;
}

.page-input form,
.page-input input {
  height: 100%;
}

.page-input input {
  margin-bottom: 0;
}

.pagination_previous,
.pagination_next {
  @include button;
  margin-bottom: 0;
}

#sort-links {
  display: flex;
}

#sort-links-list {
  @include style-type-unordered(none);
  display: flex;
}

#sort-links-list li {
  margin: 0 $global-margin;
}

.item-file > a {
  @extend .thumbnail;
}

// #. Show
// -----------

.element-set {
  @extend dl;
}

.element-set h2 {
  @extend h3;
}

.element h3 {
  @extend h6;
  @extend dt;
}

.element-text {
  @extend dd;
}

.element {
  margin-bottom: $global-margin;
}

#collection h3,
#item-tags h3,
#item-citation h3,
#item-output-formats h3,
#itemfiles h3 {
  font-weight: bold;
}

// #. Exhibits
// -----------

.exhibits .grid-x {
  padding: (3 * $global-padding) 0;
}

.exhibits .grid-x h1 {
  margin-top: 0;
}

#exhibit-pages ul {
  @extend .vertical;
  @extend .menu;
}

#exhibit-pages ul ul {
  @extend .nested;
}

#exhibit-pages .current {
  @extend .active;
}