// #. Header
// -------

header,
header ul {
  background-color: transparent;
}

header {
  min-height: 10 * $global-padding;
  background: no-repeat center / cover url('../img/home-intro.jpg');
  position: relative;
  align-items: flex-start;
  padding: $global-padding;
  
  a {
    color: $white;
  }
  
  li li a {
    color: $primary-color;
  }
  
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3 * $global-padding;
    left: 0;
    right: 0;
    background: no-repeat top / cover url('../img/paint-border.png');
  }
}

header .dropdown.menu > li {
  margin: (.5 * $global-margin) $global-margin;
  height: 2 * $global-padding;
}

header .dropdown.menu a {
  font-family: $header-font-family;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: (.5 * $global-padding) 0;
}

header .dropdown.menu > li > a:hover,
header .dropdown.menu .is-active > a {
  color: $white;
  border-bottom: 2px solid $white;
}


header .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: $white transparent transparent;
}

header .dropdown.menu .is-dropdown-submenu-item a {
  padding: (.5 * $global-padding);
  border-bottom: 1px solid $medium-gray;
}

header .is-dropdown-submenu {
  border: 0;
}

header #site-title img {
  height: 3 * $global-padding;
  width: auto;
}

.menu .active a {
  background-color: transparent;
}

#search-container {
  position: absolute;
  top: 8 * $global-padding;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 0;

  label {
    color: #fff;
  }
}

.search-toggle,
.search-toggle:hover {
  background-color: transparent;
}

// #. Home
// -------

.section {
  padding: (3 * $global-padding) $global-padding;
  border-bottom: 1px solid #ccc;
  
  &.features {
    border-bottom-color: transparent;
    
    .row {
      display: flex;
      margin: $global-margin (-1 * $global-margin);
    }
    
    .feature {
      margin: $global-margin;
      @include xy-cell(4);
    }
    
    .thumbnail {
      width: 100%;
      padding-bottom: 16rem;
    }
  }
}

// #. Exhibits
// -----------

.layout-file-text .exhibit-item-link {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}

.layout-file-text .exhibit-item-link:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f15c";
  font-weight: 400;
  display: inline-block;
  width: 1rem;
  text-align: center;
  text-indent: 0;
  margin-right: .5rem;
}

// #. Browse
// ---------

.browse-controls {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  
  .pagination-nav {
    margin-left: auto;
  }
}

#sort-links {
  align-items: center;
}

#sort-links-list {
  margin-bottom:  0;
}

#item-filters ul {
  margin: 0;
}

#revolution-wrap {
  @include xy-grid;
}

#revolution-filters {
  @include xy-cell(3);
  padding: (1.5 * $global-padding) 0;
  font-weight: bold;
    
  ul {
    list-style: none;
    margin: 0;
  }
  
  & > ul > li {
    border-bottom: 1px solid $light-gray;
    padding-bottom: $global-padding;
  }
  
  .revolution-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a.active:not(.button) {
    background-color: $primary-color;
    color: #fff;
    padding: (.25 * $global-padding) (.5 * $global-padding);
    margin: (.25 * $global-margin) 0;
    display: block;
  }
  
  .revolution-filter ~ ul {
    display: none;
    margin-top: .5 * $global-margin;
  }
  
  .revolution-filter.collapse ~ ul {
    display: block;
  }
  
  li {
    margin: 0 0 $global-margin 0;
  }
  
  li li {
    font-weight: normal;
    margin: 0;
  }
}

.apply-filters {
  @extend .button;
}

.apply-filters {
  display: none;
  
  &.active {
    display: inline-block;
  }
}

.resources {
  @include xy-cell(auto);
}

.resource-list.list {
  border: 1px solid $light-gray;
  border-width: 1px 0;
  padding: 0;
}

.item {
  @include xy-grid;

  i.far,
  i.fas {
    color: $dark-gray;
  }

  .item-image {
    @include xy-cell(2 of 9);
    order: 2;
  }

  .item-meta:not(:only-child) {
    @include xy-cell(7 of 9);
    order: 1;
  }
  
  .item-description {
    margin-bottom: .25 * $global-margin;
  }
  
  .tags {
    margin-bottom: (-.25 * $global-margin);
  }
  
  .tags a {
    @extend .label;
  }
  
  .tags a {
    cursor: pointer;
    margin-bottom: .5 * $global-margin;
  }
}