@charset 'utf-8';

@import 'globals-default';
@import 'settings';

$topbar-submenu-background: #fff;
$dropdown-menu-item-color-active: $anchor-color;
$label-color-alt: #fff;

@import 'foundation-core';
@import 'omeka';
@import 'print';