@charset 'utf-8';

@import 'globals-default';
@import 'globals-revolution';
@import 'settings';

// Revolution Settings

$header-font-family: 'IM Fell English SC', serif;
$subheader-font-family: 'IM Fell DW Pica', serif;

$topbar-background: transparent;

$thumbnail-border: 4px solid transparent;
$thumbnail-shadow: 0 0 0 1px $gold;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($gold, 0.5);

@import 'foundation-core';
@import 'omeka';
@import 'print';

body {
  background: url('../images/revolution-bg.jpg') repeat;
  background-size: auto;
}

@include breakpoint(medium up) {
  body.vertical-menu {  
    background-image: none;
  }

}

body:not(.vertical-menu) header {
  border-top: ($global-padding) solid $primary-color;
}  

body.vertical-menu #content,
body.vertical-menu #content:after,
body.vertical-menu footer,
body.vertical-menu #search-container {
  background: transparent url('../images/revolution-bg.jpg') repeat;
}

body.vertical-menu #search-container {
  border-bottom-color: $gold;
}

.accordion-menu .submenu-toggle:after {
  border-color: $primary-color transparent transparent;
}

.fieldset {
  border-color: $gold;
}

.resource-list {
  border-top-color: $gold;
}

.resource-list .resource  {
  border-bottom-color: $gold;
}

.has-media {
  color: $brown;
}

.description.fadeout:after {
  background: transparent url('../images/revolution-fade.png') no-repeat;
  background-size: cover;
  background-position: right;
  right: -1rem;
}

.inline .element .element-text:not(:first-of-type) {
  border-top-color: lighten(desaturate($gold, 10%), 10%);
}