@charset 'utf-8';

@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';

// Sea Foam Settings

$dropdown-menu-item-color-active: #fff;
$topbar-background: $primary-color;
$topbar-submenu-background: #fff;
$offcanvas-background: $primary-color;
  
$thumbnail-border: 4px solid $secondary-color;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

@import 'foundation-core';
@import 'omeka';
@import 'print';


header a:not(.is-active) {
  color: $white;
}

header .submenu a {
  color: get-color(primary);
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: $menu-item-color-active transparent transparent;
}

.dropdown .is-dropdown-submenu a:hover,
.dropdown .is-dropdown-submenu .is-active > a {
  background-color: get-color(primary);
  color: $dropdown-menu-item-color-active;
}

.dropdown .is-dropdown-submenu .is-active.opens-right > a:after {
    border-color: transparent transparent transparent $dropdown-menu-item-color-active;
}

.dropdown .is-dropdown-submenu .is-active.opens-left > a:after {
    border-color: transparent $dropdown-menu-item-color-active transparent transparent;
}

.tags.label {
  background-color: $secondary-color;
  color: #000;
}

#exhibit-pages .dropdown.menu > li.is-dropdown-submenu-parent.is-active > a {
  color: $primary-color;
}

#exhibit-pages .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: $primary-color transparent transparent;
}