@charset 'utf-8';

@import 'globals-default';
@import 'globals-seafoam';
@import 'settings';

// Sea Foam Settings

$dropdown-menu-item-color-active: #fff;
$topbar-background: $primary-color;
$topbar-submenu-background: #fff;
  
$thumbnail-border: 4px solid $secondary-color;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

@import 'foundation-core';
@import 'omeka';
@import 'print';


header a:not(.is-active) {
  color: $white;
}

header .submenu a {
  color: get-color(primary);
}

#top-nav.dropdown.menu > li.is-active > a,
#top-nav.dropdown.menu > li > a:hover {
  text-decoration: underline;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: $menu-item-color-active transparent transparent;
}

.dropdown .is-dropdown-submenu a:hover {
  background-color: get-color(primary);
  color: $dropdown-menu-item-color-active;
}

.tags.label {
  background-color: $secondary-color;
  color: #000;
}